{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    
<form method="POST" enctype="multipart/form-data">

    <div class="h1 mt-5">
        <b>Functions</b>
    </div>

    <div class="d-grid col-5 mx-auto mt-5">
            
        {% for function,arity in functions.items() %}

        <div class="col mt-2">
            
            <input class="form-control-md" type="text" value="{{function}}" name="function{{loop.index}}">
            <input class="form-control-md" type="text" value="{{arity}}" name="arity{{loop.index}}">
            <input class="btn btn-primary btn-md"  type="submit" name="modify{{loop.index}}" value="Modify Function">

        </div>
            
        {% endfor %}

        <div class="h2 mt-2">
            <b>Add a New Function</b>
        </div>

        <div class="col mt-2">
            
            <input class="form-control-md" type="text" placeholder="Function Name" name="functionnew">
            <input class="form-control-md" type="text" placeholder="Arity" name="aritynew">
            <input class="btn btn-primary btn-md"  type="submit" name="addnew" value="Add Function">

        </div>

    </div>

</form>

</div>
{% endblock %}