{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    
<form method="POST" enctype="multipart/form-data">

    <div class="h1 mt-5">
        <b>Term Rewriting App</b>
    </div>

    <div class="d-grid col-4 mx-auto mt-5">
    
        <div class="col mt-2">
            <input class="btn btn-primary btn-lg"  type="submit" name="functions" value="Functions">
        </div>
        
        <div class="col mt-2">
            <input class="btn btn-primary btn-lg"  type="submit" name="variables" value="Variables">
        </div>

        <div class="col mt-2">
            <input class="btn btn-primary btn-lg"  type="submit" name="terms" value="Terms">
        </div>

        <div class="col mt-2">
            <input class="btn btn-primary btn-lg"  type="submit" name="create" value="Create Term">
        </div>

    </div>

</form>

</div>
{% endblock %}