{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    
<form method="POST" enctype="multipart/form-data">

    <div class="h1 mt-5">
        <b>Term Rewriting App</b>
    </div>

    <div class="h2 mt-5">
        <b>Language</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="functions" value="Functions">
        <input class="btn btn-primary btn-lg"  type="submit" name="variables" value="Variables">
    </div>

    <div class="h2 mt-5">
        <b>Terms</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="terms" value="Terms">
        <input class="btn btn-primary btn-lg"  type="submit" name="create" value="Create Term">
        <input class="btn btn-primary btn-lg"  type="submit" name="replace" value="Replace">
    </div>

    <div class="h2 mt-5">
        <b>Substitutions</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="substitutions" value="Substitutions">
        <input class="btn btn-primary btn-lg"  type="submit" name="unification" value="Unification">
    </div>

    <div class="h2 mt-5">
        <b>Ordering</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="lpo" value="Lexicographic Path Ordering">
    </div>

    <div class="h2 mt-5">
        <b>Critical Pairs</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="critpair" value="Critical Pairs">
    </div>

    <div class="h2 mt-5">
        <b>Determine Completeness</b>
    </div>

    <div class="col mt-2">
        <input class="btn btn-primary btn-lg"  type="submit" name="complete" value="Determine Completeness">
    </div>

</form>

</div>
{% endblock %}